{:source-paths ["src/main"]
 :dependencies [[lilactown/helix "0.2.2"]
                [com.taoensso/telemere "1.1.0"]]
 :dev-http {3000 "public"}
 :builds {:frontend {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:init-fn com.hjsoft.roadside.website.core/init}}}}}
