{:source-paths ["../common/src"
                "src/main"
                "src/dev"
                "src/test"]
 :dependencies [[lilactown/helix "0.2.2"]
                [com.taoensso/telemere "1.2.1"]
                [cider/cider-nrepl "0.59.0"]
                [binaryage/devtools "1.0.7"]
                [refactor-nrepl "3.13.0"]
                [cljs-http "0.1.49"]
                [http-kit "2.8.1"]
                [metosin/malli "0.20.1"]]
 :dev-http {3000 {:root "public"
                  :handler com.hjsoft.mapmarks.website.dev-server/handler}}
 :builds
 {
   :frontend
   {:target :browser
    :output-dir "public/js"
    :asset-path "js"
    :modules
    {:main {:init-fn com.hjsoft.mapmarks.website.browser-main/init}}
    :devtools {:preloads [devtools.preload]}
    :compiler-options {:source-map true}
    :closure-defines
    {com.hjsoft.mapmarks.website.config/APP_NAME "Little Free Libraries"
     com.hjsoft.mapmarks.website.config/SITE "library"
     com.hjsoft.mapmarks.website.config/APP_DESCRIPTION "Find and share your local little free libraries."
     com.hjsoft.mapmarks.website.config/APP_LOGO "\uD83D\uDCDA" ;; books
     com.hjsoft.mapmarks.website.config/APP_ICON "favicon.ico"
     com.hjsoft.mapmarks.website.config/DEFAULT_EXPIRATION_DAYS 0
     com.hjsoft.mapmarks.website.config/TAGS_NAME_ARTICLE "a"
     com.hjsoft.mapmarks.website.config/TAGS_NAME_SINGULAR "Tag"
     com.hjsoft.mapmarks.website.config/TAGS_NAME_PLURAL "Tags"
     com.hjsoft.mapmarks.website.config/MARK_NAME_ARTICLE "a"
     com.hjsoft.mapmarks.website.config/MARK_NAME_SINGULAR "Library"
     com.hjsoft.mapmarks.website.config/MARK_NAME_PLURAL "Libraries"
     com.hjsoft.mapmarks.website.config/DISABLE_NAME false
     com.hjsoft.mapmarks.website.config/DISABLE_TAGS false
     com.hjsoft.mapmarks.website.config/FEEDBACK_EMAIL "library@hjsoft.com"
     }
    :build-hooks
    [[com.hjsoft.mapmarks.website.build-hooks/version-cljs]
     [com.hjsoft.mapmarks.website.build-hooks/version-index-resources]]}

  :test
  {:target :node-test
    :main node/main
    :output-to "out/node-tests.js"
    :autorun true
    :preloads [node-init]
    :closure-defines {com.hjsoft.mapmarks.website.ui.forms.mark/NODE_TEST true
                      com.hjsoft.mapmarks.website.ui.forms.inputs/NODE_TEST true
                      node-init/ENABLE_JSDOM true}
   :build-hooks [[com.hjsoft.mapmarks.website.build-hooks/version-cljs]]}

  :test-browser
  {:target :browser-test
   :test-dir "out/browser/test"
   :autorun true
   :devtools {:http-port 3021
              :http-root "out/browser/test"}
   :build-hooks [[com.hjsoft.mapmarks.website.build-hooks/version-cljs]]}
}}
